<!DOCTYPE html>
<html>
<head>
    
    <title>Detail Page </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
         integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
</head>
<body>
        <h1>This is Detail Page </h1>

        <p>
            <h4>{{lenovo.name}}</h4>
            <h4>{{lenovo.brand}}</h4>
            <h4>{{lenovo.harddrive}}</h4>
            <h4>{{lenovo.value}}</h4>
            <h4>{{lenovo.material}}</h4>
        
        </p>
</body>
</html>