<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Laptop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
         integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
<body>

    <p>
        
    {% if user.is_autheticated %}
    <a href="{% url 'lenovo:login' %}">ADD NEW LAPTOP</a>
    <h1>Welcome</h1>
        <li>{{ user.username}}</li>
        <li><a href="{% url 'lenovo:logout' %}">Logout</a></li>

        {% else %}
        <li><a href="{% url 'lenovo:Login' %}">Login</a></li>
        {% endif %}
    </p>
        <h1>This is our Home Page</h1>
        <ul>
            {% for lenovo in all_laptops %}
            <li>
                <a href="{% url 'lenovo:detail' lenovo.id %}">
                    <h1>{{lenovo.name}}</h1><br>
                    <h3>{{ lenovo.user }}</h3><br>
                </a>
            </li>
            {% endfor %}
        </ul>
</body>
</html>

